.page main{
    padding: 0;
    
    h1 { 
        font-size: 2.5em;
        border-bottom: solid 1px $primary-color; 
    }
    h2 {
        font-size: 2em
    }

    ul {
        display: flex;
        flex-direction: column;
    }
}